h1{
    color: whitesmoke;
    font-size: 75px;
    text-align: center;
}
h3{
    color: whitesmoke;
    text-align: center;

}

ul {
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    margin-top: 10%;

}